<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629994595378-4mv52bllliqll9a170j5u0odog1pge19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629994595378-4mv52bllliqll9a170j5u0odog1pge19</string>
	<key>GCM_SENDER_ID</key>
	<string>629994595378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattloh.RandomSnap</string>
	<key>PROJECT_ID</key>
	<string>randomsnap-95b96</string>
	<key>STORAGE_BUCKET</key>
	<string>randomsnap-95b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:629994595378:ios:f5a7f7dcc213c7e1</string>
	<key>DATABASE_URL</key>
	<string>https://randomsnap-95b96.firebaseio.com</string>
</dict>
</plist>